.send-invite {

	.send-invite-form {
		margin-left: 15px;
		text-align: center;
		h3 { margin-bottom: 0; }

		input[type="text"],
		input[type="email"] {
			width: 75%;
			margin-bottom: 10px;
		}
	}

	.link-wrap {
		margin: 1rem 0;
		text-align: center;
	}

}

