.suggest {

	.image,
	.metadata {
		display: inline-block;
	}

	.image {
		margin-right: 1.5rem;
		@media screen and (min-width: $larger-than-tablet) {
			width: 17%;
		}
	}

	.metadata {
		vertical-align: top;
		@media screen and (min-width: $larger-than-tablet) {
			width: 80%
		}
	}

	.recommend-msg {
		width: 80%;
		height: 20rem;
	}

}