.user-feed {

	.source {
		display: flex;
		height: 25rem;
		margin-bottom: 2rem;
		background-color: #fff;
		overflow: hidden;
		@extend .z-depth-1;
		cursor: pointer;

		.cover {
			flex: 0.75;
		}

		.image {
			width: 100%;
		}

		.info {
			flex: 2;
			vertical-align: top;
		}

		.meta,
		.interaction {
			box-sizing: border-box;
		}

		.meta {
			flex: 2;
			padding: 1.5rem;

			.title {
				font-size: 3rem;
				margin-bottom: 0;
			}

			.subtitle {
				font-size: 1.8rem;
			}

			.authors {

				.author:not(:last-child):after {
					content: ', ';
				}

			}

		}

		

	}

}