.user-feed {

	.source {
		height: 20rem;
		margin-bottom: 2rem;
		background-color: $wild-sand;
		border-left: 3px solid $sushi;
		overflow: hidden;
		cursor: pointer;

		.cover,
		.info {
			float: left;
		}

		.cover {
			height: 100%;
			overflow: hidden;

			.image { 
				min-height: 100%; 
			}

		}

		.meta,
		.interaction {
			box-sizing: border-box;
		}

		.meta {
			flex: 2;
			padding: 1.5rem;

			.title {
				font-size: 3rem;
				margin-bottom: 0;
			}

			.subtitle {
				font-size: 1.8rem;
			}

			.authors {

				.author:not(:last-child):after {
					content: ', ';
				}

			}

		}

		

	}

}