/**
 * _base.less
 */

* {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.dark-text {
	color: $dark-font-color;
}

.light-text {
	color: $light-font-color;
}

button,
input,
label,
optgroup,
select,
textarea {
	@extend .light-text;
}