/* App
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#app {
  background-color: $app-background-color;
}

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: #1EAEDB;
  text-decoration: none;

  // Gets rid of tap active state
  -webkit-tap-highlight-color: transparent;

  // Fontawesome icons
  i.fa {
    color: $silver-chalice;
  }

}
a:hover {
  color: #0FA0CE;

  i.fa {
    color: $mine-shaft;
  }
}

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  background: #182261;
  // margin: 1em;
  min-width: 9rem;
  border: none;
  border-radius: 3px;
  padding: 0.7em 1.1em;
  text-align: center;
  font-family: "Avenir Next";
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.2em;
  color: #ffffff;
}

  .button.outline {
    background: $white;
    color: $mine-shaft !important;
    border: 1px solid $mine-shaft;

    &:hover {
      color: darken($mine-shaft, 40%) !important;
      border-color: darken($mine-shaft, 40%);
    }

  }

  .button.flat {
    background: $white;
    color: $mine-shaft !important;
    border: none;

    &:hover {
      color: darken($mine-shaft, 40%);
      border:none;
    }

    &:active {
      border: none;
    }

    &:focus {
      outline: 0;
    }
    
  }



/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 3.8rem;
  padding: 2.5rem 2rem; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border:0;
  border: 0.12rem solid $border-color;
  box-shadow: none;
  box-sizing: border-box; }
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
textarea {
  min-height: 6.5rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem; 
  border: 1.2px solid #D1D1D1; }
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border-bottom: 1px solid #33C3F0;
  outline: 0; }
label,
legend {
  display: block;
  margin-bottom: .5rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  font-weight: normal; }
fieldset {
  width: 80%;
  padding: 1rem 2rem;
  border: solid 1px $border-color;
}
fieldset input {
  width: 100% !important;
}
input[type="checkbox"],
input[type="radio"] {
  display: inline; }
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }

.box-style-input {
  border: 1px solid #D1D1D1;
  border-radius: 4px;
}

/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: circle inside; }
ol {
  list-style: decimal inside; }
ol, ul {
  padding-left: 0;
  margin-top: 0; }
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }
li {
  margin-bottom: 1rem; }


/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px; }
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; }


/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }


/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }


/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }

.form-wrap {

}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  width: 80%;
}

.field-wrap {
  margin-bottom: 2rem;
}

/* Avatars
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.avatar-wrap {
  display: block;
  width: 6rem;
  height: 6rem;
  margin: 0.5rem 1rem 0 0;
  border-radius: 6rem;
  overflow: hidden;

  img { width: 100%; }
}

/* Notifications
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.error-msg {
  color: $error-message-color;
}

/* Not Logged-In
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.not-logged-in .form-wrap {
  background: #333;
  opacity: 0.8;

   h1, h2, h3, h4, h5, p, label {
    color: $light-text;
  }

  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="text"],
  input[type="tel"],
  input[type="url"],
  input[type="password"],
  textarea,
  select {
    background: #333;
    color: $light-text;
    width: 100%;
  }

  input[type="submit"] {
    color: #fff;
  }

}

#app.not-logged-in .container:before,
#signup-app.not-logged-in .container:before {
  content: '';
  display: block;
  position: fixed;
  top: 0; left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  background: url('../images/nypl.jpg') no-repeat;
  background-position: center;
  background-size: auto 100%;
  opacity: 0.8;

  @media screen and (min-width: $larger-than-tablet) {
    background-size: 100% auto;
  }
}

