/** Colors */
$error-message-color: #CEA14C;

/** Light Text */
$light-text: #fff;
$dark-text: #333;

/** Navbar */
$controlbar-height: 60px;
$controlbar-mobile-height: 50px;

/** Media Breakpoints */
$larger-than-mobile: 400px;
$larger-than-phablet: 550px;
$larger-than-tablet: 750px;
$larger-than-desktop: 1000px;
$larger-than-HDdesktop: 1200px;